[submodule ".registry"]
	path = .registry
	url = https://github.com/connorb/connorb.r-universe.dev
	branch = HEAD
[submodule "preMetabolizer"]
	path = preMetabolizer
	url = https://github.com/ConnorB/preMetabolizer
[submodule "streamMetabolizer"]
	path = streamMetabolizer
	url = https://github.com/DOI-USGS/streamMetabolizer
	registered = false
[submodule "unitted"]
	path = unitted
	url = https://github.com/appling/unitted
	registered = false
